{% extends 'main/base.html' %}

{% block title_block %}
    Logged Out
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Logout</h1>
            
            <div>
                <h3 class="jumborton-subject">
                    You are logging out of your <span class="company-name"><i>TheUniHub</i></span> account now.
                </h3>
                
                <p class="jumbotron-info">
                    We hope you come back soon and enjoy more articles, threads, and information.
                </p>
            </div>
        </div>
    </div>

    <p>
        You have been successfully logged out. Thanks for spending time with us!
    </p>
{% endblock %}