<!DOCTYPE html>

{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Change your password
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Change your password</h1>
        
            <div>
                <h3 class="jumborton-subject">
                    You can now change your <span class="company-name"><i>TheUniHub</i></span> account password.
                </h3>
        
                <p class="jumbotron-info">
                    You will need to use this new password when you next sign in.
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-6">
                    <div class="card-body">
                        <div class="form-group">
                            <form method="post" action="{% url 'auth_password_change' %}">
                                {% csrf_token %}

                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <strong>Error:</strong> Please correct the following issues.
                                        
                                        <ul>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <li>{{ field.label }}: {{ error }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                                {% for field in form %}
                                    <p class="required">
                                        <label class="required" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <span class="helptext">{{ field.help_text }}</span>
                                        {% endif %}
                                    </p>
                                {% endfor %}

                                <button class="btn btn-primary btn-sm" type="submit" name="submit">
                                    <span data-feather="lock"></span> Change your password
                                </button>
                        
                                <a href="{% url 'main:profile' user.username %}" class="btn btn-secondary btn-sm">
                                    <span data-feather="x-circle"></span> Cancel
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}