{% extends "main/base.html" %}

{% block title_block %}
    Password Changed
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">Change your password</h1>
        
            <div>
                <h3 class="jumborton-subject">
                    You have changed your <span class="company-name"><i>TheUniHub</i></span> account password.
                </h3>
                
                <p class="jumbotron-info">
                    You will need to use this new password when you next sign in.
                </p>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-6">
                    <div class="card-body">
                        <p>Your password has been successfully changed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}