<!DOCTYPE html>

{% extends 'main/base.html' %}

{% block title_block %}
    {% if thread %}
        Delete Thread: {{ thread.title }}
    {% else %}
        Unknown Thread
    {% endif %}
{% endblock %}

{% block body_block %}
    {% if thread %}
        <div class="jumbotron p-4">
            <div class="container">
                <h1 class="jumbotron-heading">Delete Thread</h1>
                
                <div>
                    <h3 class="jumbotron-subject">
                        You are trying to delete "{{ thread.title }}" in the {{ thread.forum.name }} forum.
                    </h3>
                
                    <p class="jumbotron-info">
                        Please make sure this is what you are trying to do because you will not be able to recover this thread.
                    </p>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5>Are you sure?</h5>
                
                            <p>You're within the time limit to delete this thread! You will have an opportunity to fill out a survey about your experience after.</p>

                            <form method="post">
                                {% csrf_token %}
                
                                <button type="submit" class="btn btn-danger btn-sm">
                                    <span data-feather="trash-2"></span> Yes, delete my thread
                                </button>
                
                                <a href="{% url 'main:thread_detail' thread.forum.slug thread.slug %}" class="btn btn-secondary btn-sm">
                                    <span data-feather="x-circle"></span> Cancel
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="jumbotron p-4">
            <div class="container">
                <h1 class="jumbotron-heading">Thread Not Found</h1>
                
                <div>
                    <h3 class="jumbotron-subject">
                        Sorry, the thread you're trying to delete doesn't exist.
                    </h3>
                
                    <p class="jumbotron-info">
                        Make sure you have the correct URL and that you are the author of this thread.
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}